@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply bg-gradient-to-br min-h-screen from-pink-500 via-violet-500 to-pink-500 text-pink-100 animate-bg-gradient;
	}

	input[type='text'] {
		@apply text-lg rounded-tl-none transition-all bg-pink-100 rounded-full text-black px-3 py-2 focus:outline outline-offset-2 outline-pink-100 shadow-md;
	}

	button {
		@apply text-2xl font-display uppercase transition-all rounded-full max-w-max shadow-md  hover:bg-pink-200 from-pink-300 to-violet-300 bg-gradient-to-br px-6 pt-3 pb-1 hover:shadow-md hover:scale-105 text-black font-semibold focus:outline  outline-offset-2 outline-pink-200;
	}

	label {
		@apply font-semibold text-2xl font-display;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-display;
	}
}

@layer components {
	.input-wrapper {
		@apply grid text-left;
	}
}

@layer utilities {
	.animate-bg-gradient {
		--time: 20s;
		background-size: 400%;

		-webkit-animation: BackgroundPositionAnimation var(--time) ease infinite;
		-moz-animation: BackgroundPositionAnimation var(--time) ease infinite;
		animation: BackgroundPositionAnimation var(--time) ease infinite;
	}

	@keyframes BackgroundPositionAnimation {
		0%,
		100% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
	}

	.bg-gradient-primary {
		@apply bg-gradient-to-r from-primary to-blue-400;
	}

	.text-gradient-primary {
		@apply bg-gradient-primary bg-clip-text;
	}
}
